@model YGO-DeckCartBuilder.Models.CardModel

@{
    ViewData["Title"] = "Shopping List";
}

<table id="ShoppingCart">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Edition</th>
            <th scope="col">Rarity</th>
            <th scope="col">Condition</th>
            <th scope="col">Price</th>
            <th scope="col">Seller Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var card in ViewBag.ShoppingList){
            <tr>
                <th scope="row">@card.CardName</th>
                <td>@card.Edition</td>
                <td>@card.Rarity</td>
                <td>@card.Condition</td>
                <td>@card.Price</td>
                <td>
                    <a href=@card.ListingLink target="_blank" rel="noreferrer noopener">@card.SellerSite</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="row" colspan="4"><b>FINAL PRICE:</b></th>
            <td>@($"${ViewBag.FinalPrice}")</td>
            <td></td>
        </tr>
    </tfoot>
   
    
</table>